In [2]:
import pandas as pd
import numpy as np
names = [x for x in range(0,23)]
df = pd.read_csv("agaricus-lepiota.data", names=names)
df.head()

  0  1  2  3  4  5  6  7  8  9   ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k  ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k  ...  s  w  w  p  w  o  p  n  n  g
2  e  b  s  w  t  l  f  c  b  n  ...  s  w  w  p  w  o  p  n  n  m
3  p  x  y  w  t  p  f  c  n  n  ...  s  w  w  p  w  o  p  k  s  u
4  e  x  s  g  f  n  f  w  b  k  ...  s  w  w  p  w  o  e  n  a  g

[5 rows x 23 columns]

In [3]:
# no missing values.
df.isna().sum().sum()

0

In [4]:
#df_Y is the dataframe which includes the labels(classes) of the mushrooms.
df_Y = df[0]
df_Y

0       p
1       e
2       e
3       p
4       e
       ..
8119    e
8120    e
8121    e
8122    p
8123    e
Name: 0, Length: 8124, dtype: object

In [5]:
# drop way for df_X.
# df_X = df.drop(0,axis = 1)
# df_X
# df[:1] slices the row!!
# get all rows in first comma and after the 1st column.
df_X = df.loc[:, 1:]
df_X

     1  2  3  4  5  6  7  8  9  10  ... 13 14 15 16 17 18 19 20 21 22
0     x  s  n  t  p  f  c  n  k  e  ...  s  w  w  p  w  o  p  k  s  u
1     x  s  y  t  a  f  c  b  k  e  ...  s  w  w  p  w  o  p  n  n  g
2     b  s  w  t  l  f  c  b  n  e  ...  s  w  w  p  w  o  p  n  n  m
3     x  y  w  t  p  f  c  n  n  e  ...  s  w  w  p  w  o  p  k  s  u
4     x  s  g  f  n  f  w  b  k  t  ...  s  w  w  p  w  o  e  n  a  g
...  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
8119  k  s  n  f  n  a  c  b  y  e  ...  s  o  o  p  o  o  p  b  c  l
8120  x  s  n  f  n  a  c  b  y  e  ...  s  o  o  p  n  o  p  b  v  l
8121  f  s  n  f  n  a  c  b  n  e  ...  s  o  o  p  o  o  p  b  c  l
8122  k  y  n  f  y  f  c  n  b  t  ...  k  w  w  p  w  o  e  w  v  l
8123  x  s  n  f  n  a  c  b  y  e  ...  s  o  o  p  o  o  p  o  c  l

[8124 rows x 22 columns]

In [6]:
# # one hot encoding in the entire data set.
# y = pd.get_dummies(df)
# y

In [1]:
# one hot encoding using one hot encoding from sklearn and give us numpy array instantly.
from sklearn.preprocessing import OneHotEncoder
X = OneHotEncoder().fit_transform(df_X).toarray()
print(X)
# one hot encoding only one column using LabelBinarizer.
from sklearn.preprocessing import LabelBinarizer
y = LabelBinarizer().fit_transform(df_Y)
# make the column  to array.
y = y.ravel()
y

NameError: name 'df_X' is not defined

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [20]:
#x_train is the features matrix for training
#y_train is the labels for training
#x_test is test data
#y_test is test labels

#Support Vector Machine(SVM)
from sklearn import svm


svm_clf = svm.LinearSVC()
svm_clf.fit(x_train, y_train)

#K-NNeighborsClassifier
from sklearn.neighbors import KNeighborsClassifier

knn_clf = KNeighborsClassifier(n_neighbors=10)
knn_clf.fit(x_train, y_train)

# #Multilayer Perceptron(MLP)
# from sklearn.neural_network import MLPClassifier

# mlp_clf = MLPClassifier(random_state=1, max_iter=300)
# mlp_clf.fit(x_train, y_train)




#Evaluation 
from sklearn.metrics import accuracy_score

y_pred = knn_clf.predict(x_test)  #model ----> svm_clf, knn_clf, mlp_clf
print(accuracy_score(y_test, y_pred))

0.9995898277276456